#uploader {
  position: absolute;
  left: 50%;
  top: 50%;
}

.dark-bg {
  background-color: darkcyan;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.grey-bg {
  background-color: darkgrey;
  width: 100vw;
  height: 100vh;
  margin: 0;
}